body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 128px;
    border-radius: 8px;
        box-shadow:   4px 4px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #154c79;
    color: white;
    border-bottom: 24px solid red;

}

.border-blue {
    border: 1px dotted blue;
}


